In [53]:
import re
import numpy as np
import pandas as pd

# Read the CSV file
df = pd.read_csv('Dataframe_Boligsiden_Distance.csv', encoding='utf-8', sep=';')
import numpy as np

# Columns to clean
columns_to_clean = ['price', 'udbetaling', 'area', 'land area', 'rooms', 'ejerudg', 'constructed', 'days active']

# Function to clean the columns
def clean_column_values(column_value):
    # Remove all characters except numbers
    cleaned_value = ''.join(filter(str.isdigit, str(column_value)))
    # Remove any occurrence of '²' character (if present)
    cleaned_value = cleaned_value.replace('²', '')
    # If value is empty or '-' after cleaning, set it to NaN
    if cleaned_value == '' or cleaned_value == '-':
        return np.nan
    return int(cleaned_value)

# Apply the cleaning function to the specified columns
for col in columns_to_clean:
    if col in df.columns:
        df[col] = df[col].apply(clean_column_values)

# Display a sample of the cleaned data
def clean_energy_column_v3(value):
    # Remove the "Energimærke" text
    cleaned_value = str(value).replace('Energimærke', '').strip()
    # Extract the letter between A and G using regex
    match = re.search(r'[A-G]', cleaned_value)
    return match.group(0) if match else np.nan

# Apply the updated cleaning function to the 'energy' column
df['energy'] = df['energy'].apply(clean_energy_column_v3)
df['city_3'] = df['city']
df['city'] = df['city_2']
# Split the column at ':'
df['seller'] = df['days at current seller'].str.split(':', expand=True)[0]

# Clean the right part and assign it back
df['days at current seller'] = df['days at current seller'].str.split(':', expand=True)[1].str.extract('(\d+)')[0]

# Convert 'days at current seller' column to numeric type
df['days at current seller'] = pd.to_numeric(df['days at current seller'], errors='coerce')
# Adjusting the extraction process to handle comma as decimal separator
# Extract residents
df['residents'] = df['extra'].str.extract(r'Der er ([\d\.]+) indbyggere')

# Convert the 'residents' column to the appropriate data type after removing dots
df['residents'] = df['residents'].str.replace('.', '').astype(float)

# Extract municipal
df['municipal'] = df['extra'].str.extract(r'indbyggere i (.*?) Kommune')

# Convert comma to dot for 'municipal tax rate' and 'grundskyldspromille' columns
df['municipal tax rate'] = df['extra'].str.extract(r'Kommuneskatten er på ([\d,]+)%').replace(',', '.', regex=True)
df['municipal tax rate'] = df['municipal tax rate'].astype(float)

# Adjusting the regex pattern to capture the part between 'grundskyldspromillen på ' and '‰'
df['grundskyldspromille'] = df['extra'].str.extract(r'grundskyldspromillen på (.*?)‰')
df['grundskyldspromille'] = df['grundskyldspromille'].str.replace(',', '.')
# Display some of the non-NaN values for 'grundskyldspromille'
non_nan_values_updated = df[df['grundskyldspromille'].notna()]['grundskyldspromille']

# Display a sample of the transformed data
df[['residents', 'municipal', 'municipal tax rate', 'grundskyldspromille']].head(60)

#df.head(60)

C:\Users\Augus\AppData\Local\Temp\ipykernel_14400\1601593728.py:53: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['residents'] = df['residents'].str.replace('.', '').astype(float)

    residents          municipal  municipal tax rate grundskyldspromille
0     83801.0            Næstved               25.00                  25
1     83801.0            Næstved               25.00                  25
2     89230.0            Herning               24.90               20.53
3     89230.0            Herning               24.90               20.53
4     73711.0         Sønderborg               25.70                27.1
5     45352.0        Vordingborg               25.70               32.32
6     41211.0        Fredensborg               25.30               24.65
7     41211.0        Fredensborg               25.30               24.65
8    644431.0         Københavns               23.70                  34
9    644431.0         Københavns               23.70                  34
10    72810.0             Holbæk               25.30               25.09
11   644431.0         Københavns               23.70                  34
12    89230.0            Herning               24.90               20.53
13   115459.0            Esbjerg               25.80               25.29
14   115459.0            Esbjerg               25.80               25.29
15    72810.0             Holbæk               25.30               25.09
16    96847.0             Viborg               25.50                23.7
17    59193.0          Svendborg               26.30               23.32
18   644431.0         Københavns               23.70                  34
19    24761.0           Hørsholm               23.70                22.1
20    49664.0              Varde               25.10               31.56
21    83801.0            Næstved               25.00                  25
22    97358.0          Silkeborg               25.50               28.26
23   644431.0         Københavns               23.70                  34
24   644431.0         Københavns               23.70                  34
25    36921.0          Norddjurs               26.00                  34
26   205978.0             Odense               25.50               21.71
27   221082.0            Aalborg               25.40               26.95
28   355238.0             Aarhus               24.52               24.58
29    56203.0  Ringkøbing-Skjern               25.00                  31
30    72810.0             Holbæk               25.30               25.09
31    69259.0           Gladsaxe               23.60                  23
32   115459.0            Esbjerg               25.80               25.29
33    58553.0          Holstebro               25.50               24.12
34   644431.0         Københavns               23.70                  34
35    30018.0               Sorø               26.30               25.74
36   115459.0            Esbjerg               25.80               25.29
37   115459.0            Esbjerg               25.80               25.29
38    42596.0              Vejen               25.33               20.36
39    83801.0            Næstved               25.00                  25
40    39545.0           Bornholm               26.20                  34
41    61718.0               Køge               25.26               21.04
42    73711.0         Sønderborg               25.70                27.1
43    73711.0         Sønderborg               25.70                27.1
44   644431.0         Københavns               23.70                  34
45    30018.0               Sorø               26.30               25.74
46   221082.0            Aalborg               25.40               26.95
47   644431.0         Københavns               23.70                  34
48    69259.0           Gladsaxe               23.60                  23
49   644431.0         Københavns               23.70                  34
50    48368.0         Kalundborg               24.20                  34
51    41147.0           Gribskov               25.40               29.34
52    40972.0             Assens               26.10               22.12
53    63839.0           Hjørring               26.21                  34
54    43089.0            Thisted               25.50               23.75
55    37161.0               Faxe               25.80                  25
56    24761.0           Hørsholm               23.70                22.1
57    63839.0           Hjørring               26.21                  34
58   355238.0             Aarhus               24.52               24.58
59   355238.0             Aarhus               24.52               24.58

In [55]:
df.to_csv('Final_Cleaned.csv', encoding='utf-8', sep=';', index=False)

In [56]:
df.head(60)

,price,road,city,energy,building type,udbetaling,area,land area,rooms,ejerudg,...,distance to Aalborg,distance to Odense,distance to city,closest city,city_3,seller,residents,municipal,municipal tax rate,grundskyldspromille
0,976000.0,Ringstedgade 23B,Næstved,C,Andelsbolig,NaN,107.0,NaN,3.0,NaN,...,232.134026,88.753673,71.039720,Copenhagen,4700 Næstved,EDC,83801.0,Næstved,25.00,25
1,398000.0,Pærevænget 2A,Næstved,C,Andelsbolig,NaN,104.0,NaN,4.0,NaN,...,235.607181,89.588176,73.973156,Copenhagen,"Appenæs, 4700 Næstved",EDC,83801.0,Næstved,25.00,25
2,653999.0,Munkgårdvænget 20,Herning,B,Andelsbolig,NaN,76.0,3431.0,3.0,NaN,...,120.251590,124.009254,81.197522,Aarhus,"Snejbjerg, 7400 Herning",home,89230.0,Herning,24.90,20.53
3,895044.0,Pedersgårdvej 125,Herning,C,Andelsbolig,NaN,96.0,427.0,3.0,NaN,...,115.990002,126.145953,80.055045,Aarhus,"Tjørring, 7400 Herning",Nybolig,89230.0,Herning,24.90,20.53
4,295000.0,Kastanieparken 1,Augustenborg,D,Andelsbolig,NaN,95.0,5035.0,3.0,NaN,...,229.488384,52.604152,52.604152,Odense,"Fynshav, 6440 Augustenborg",danbolig,73711.0,Sønderborg,25.70,27.1
5,575000.0,Turkisvænget 3D,Stege,C,Andelsbolig,NaN,82.0,3000.0,3.0,NaN,...,271.475298,128.259852,77.482522,Copenhagen,4780 Stege,danbolig,45352.0,Vordingborg,25.70,32.32
6,881344.0,Humlebæk Center 28,Humlebæk,C,Andelsbolig,NaN,68.0,NaN,2.0,NaN,...,201.048512,148.769586,32.162280,Copenhagen,3050 Humlebæk,BRIKK,41211.0,Fredensborg,25.30,24.65
7,1125000.0,Humlebæk Center 27,Humlebæk,C,Andelsbolig,NaN,101.0,1878.0,3.0,NaN,...,200.963171,148.707780,32.201066,Copenhagen,3050 Humlebæk,home,41211.0,Fredensborg,25.30,24.65
8,993000.0,Brønshøjgårdvej 17,Brønshøj,C,Andelsbolig,NaN,59.0,NaN,2.0,NaN,...,218.490337,137.136230,5.489511,Copenhagen,2700 Brønshøj,Lokal Mægleren,644431.0,Københavns,23.70,34
9,3235426.0,Ny Carlsberg Vej 26,København V,C,Andelsbolig,NaN,87.0,271.0,4.0,NaN,...,223.597760,139.263762,1.874264,Copenhagen,1760 København V,BRIKK,644431.0,Københavns,23.70,34
10,795000.0,Pileager 2C,Ugerløse,D,Andelsbolig,NaN,80.0,2572.0,3.0,NaN,...,194.900586,82.229970,58.808925,Copenhagen,4350 Ugerløse,danbolig,72810.0,Holbæk,25.30,25.09
11,874020.0,Milanovej 8A,København S,C,Andelsbolig,NaN,41.0,NaN,1.0,NaN,...,227.551975,144.025745,3.862076,Copenhagen,2300 København S,Nybolig,644431.0,Københavns,23.70,34
12,288000.0,Bjødstrupvej 14G,Herning,B,Andelsbolig,NaN,88.0,2837.0,3.0,NaN,...,114.711357,116.621183,70.720613,Aarhus,"Hammerum, 7400 Herning",Thoustrup & Præstegaard,89230.0,Herning,24.90,20.53
13,629641.0,Darumvej 16,Esbjerg,C,Andelsbolig,NaN,97.0,NaN,4.0,NaN,...,197.918083,121.702336,121.702336,Odense,6700 Esbjerg,Cibo Ejendomskontor,115459.0,Esbjerg,25.80,25.29
14,433130.0,Saltholmsvej 16,Esbjerg Ø,E,Andelsbolig,NaN,62.0,NaN,2.0,NaN,...,NaN,NaN,NaN,Copenhagen,6705 Esbjerg Ø,Cibo Ejendomskontor,115459.0,Esbjerg,25.80,25.29
15,911463.0,Pileager 6A,Ugerløse,D,Andelsbolig,NaN,80.0,2572.0,3.0,NaN,...,194.870083,82.182913,58.857013,Copenhagen,4350 Ugerløse,danbolig,72810.0,Holbæk,25.30,25.09
16,198000.0,Banegårdspladsen 12E,Bjerringbro,C,Andelsbolig,NaN,94.0,556.0,3.0,NaN,...,76.706495,118.198594,41.259301,Aarhus,8850 Bjerringbro,home,96847.0,Viborg,25.50,23.7
17,635614.0,Søbakkerne 100,Vester Skerninge,A,Andelsbolig,NaN,112.0,3763.0,4.0,NaN,...,223.718318,37.520159,37.520159,Odense,"Ollerup, 5762 Vester Skerninge",Estate,59193.0,Svendborg,26.30,23.32
18,6597140.0,Gothersgade 30,København K,C,Andelsbolig,NaN,221.0,NaN,6.0,NaN,...,224.075923,142.003806,1.146140,Copenhagen,1123 København K,RealMæglerne,644431.0,Københavns,23.70,34
19,706256.0,Alsvej 4B,Hørsholm,C,Andelsbolig,NaN,46.0,NaN,2.0,NaN,...,205.636710,143.941970,23.333600,Copenhagen,2970 Hørsholm,RealMæglerne,24761.0,Hørsholm,23.70,22.1
20,798000.0,Kærvej 7,Varde,B,Andelsbolig,NaN,98.0,NaN,3.0,NaN,...,182.080744,123.540877,123.540877,Odense,6800 Varde,EDC,49664.0,Varde,25.10,31.56
21,445036.0,Skovbrynet 60,Næstved,C,Andelsbolig,NaN,73.0,NaN,2.0,NaN,...,230.164428,88.163701,69.662083,Copenhagen,4700 Næstved,BoligOne Lars Henrik Eriksen ApS - Næstved,83801.0,Næstved,25.00,25
22,475547.0,Nygade 11A,Kjellerup,B,Andelsbolig,NaN,108.0,2042.0,3.0,NaN,...,89.504290,116.469813,50.190016,Aarhus,8620 Kjellerup,John Frandsen,97358.0,Silkeborg,25.50,28.26
23,2349759.0,Frederikssundsvej 145,Brønshøj,D,Andelsbolig,NaN,93.0,NaN,4.0,NaN,...,218.747379,137.735536,5.154987,Copenhagen,2700 Brønshøj,EDC,644431.0,Københavns,23.70,34
24,1559500.0,Messinavej 26,København S,C,Andelsbolig,NaN,81.0,NaN,3.0,NaN,...,227.531862,143.865641,3.790920,Copenhagen,2300 København S,Nybolig,644431.0,Københavns,23.70,34
25,145000.0,Posthaven 11,Grenaa,C,Andelsbolig,NaN,90.0,1521.0,3.0,NaN,...,91.646024,117.168950,49.914208,Aarhus,8500 Grenaa,John Frandsen,36921.0,Norddjurs,26.00,34
26,975000.0,Hjulets Kvarter 106,Odense SØ,C,Andelsbolig,NaN,88.0,NaN,4.0,NaN,...,190.699491,5.251445,5.251445,Odense,"Holluf Pile, 5220 Odense SØ",EDC,205978.0,Odense,25.50,21.71
27,450000.0,Finlandsgade 3,Aalborg,E,Andelsbolig,NaN,57.0,4050.0,2.0,NaN,...,1.588023,185.646898,1.588023,Aalborg,9000 Aalborg,Din Mægler,221082.0,Aalborg,25.40,26.95
28,465600.0,Silkeborgvej 188,Aarhus C,D,Andelsbolig,NaN,63.0,NaN,2.0,NaN,...,100.557457,85.671041,1.876431,Aarhus,8000 Aarhus C,EDC,355238.0,Aarhus,24.52,24.58
29,320000.0,Blåbærhaven 8,Ringkøbing,C,Andelsbolig,NaN,123.0,NaN,4.0,NaN,...,146.491068,153.960013,120.133554,Aarhus,"Rindum, 6950 Ringkøbing",EDC,56203.0,Ringkøbing-Skjern,25.00,31
30,918800.0,Valdemar Sejrsvej 55,Holbæk,D,Andelsbolig,NaN,83.0,3249.0,4.0,NaN,...,185.438070,90.321179,54.121062,Copenhagen,4300 Holbæk,home,72810.0,Holbæk,25.30,25.09
31,1195000.0,Signalvej 159,Søborg,C,Andelsbolig,NaN,115.0,1901.0,4.0,NaN,...,213.794734,136.307804,10.120814,Copenhagen,2860 Søborg,danbolig,69259.0,Gladsaxe,23.60,23
32,1016488.0,Skorpionens Kvarter 56,Esbjerg V,C,Andelsbolig,NaN,110.0,NaN,3.0,NaN,...,193.296090,125.603732,125.603732,Odense,6710 Esbjerg V,danbolig,115459.0,Esbjerg,25.80,25.29
33,795000.0,Birkelunden 31,Holstebro,F,Andelsbolig,NaN,89.0,253.0,4.0,NaN,...,110.435503,156.379629,102.310977,Aarhus,7500 Holstebro,EDC,58553.0,Holstebro,25.50,24.12
34,2243184.0,Tagensvej 88,København N,D,Andelsbolig,NaN,107.0,NaN,4.0,NaN,...,221.013170,140.454556,3.144366,Copenhagen,2200 København N,Andelshandel A/S,644431.0,Københavns,23.70,34
35,1185000.0,Bakkehaven 26,Sorø,C,Andelsbolig,NaN,85.0,NaN,3.0,NaN,...,205.447654,74.043621,68.844642,Copenhagen,4180 Sorø,Nybolig,30018.0,Sorø,26.30,25.74
36,306451.0,Højvangshaven 83,Esbjerg,D,Andelsbolig,NaN,69.0,NaN,3.0,NaN,...,196.134009,122.829732,122.829732,Odense,6700 Esbjerg,Nybolig,115459.0,Esbjerg,25.80,25.29
37,492572.0,Amagervej 16,Esbjerg Ø,E,Andelsbolig,NaN,82.0,NaN,3.0,NaN,...,NaN,NaN,NaN,Copenhagen,6705 Esbjerg Ø,Cibo Ejendomskontor,115459.0,Esbjerg,25.80,25.29
38,385000.0,Lynggårdshaven 22,Vejen,D,Andelsbolig,NaN,91.0,3002.0,3.0,NaN,...,181.188079,79.683181,79.683181,Odense,6600 Vejen,Nybolig,42596.0,Vejen,25.33,20.36
39,369000.0,Skovbrynet 46,Næstved,F,Andelsbolig,NaN,71.0,NaN,2.0,NaN,...,230.299188,88.231292,69.718685,Copenhagen,4700 Næstved,EDC,83801.0,Næstved,25.00,25
40,467000.0,Mølleparken 6,Hasle,F,Andelsbolig,NaN,71.0,2915.0,2.0,NaN,...,363.152653,275.355926,146.303733,Copenhagen,"Hasle, 3790 Hasle",danbolig,39545.0,Bornholm,26.20,34
41,928529.0,Møllevej 13P,Borup,B,Andelsbolig,NaN,89.0,NaN,3.0,NaN,...,214.737972,101.541230,41.709275,Copenhagen,4140 Borup,Hjem til dig,61718.0,Køge,25.26,21.04
42,395000.0,Præstegårdsvej 128,Sønderborg,B,Andelsbolig,NaN,96.0,300.0,3.0,NaN,...,235.979821,63.162231,63.162231,Odense,"Ulkebøl, 6400 Sønderborg",Estate,73711.0,Sønderborg,25.70,27.1
43,485000.0,Lilleskovvej 18,Augustenborg,B,Andelsbolig,NaN,128.0,NaN,3.0,NaN,...,233.570359,58.989118,58.989118,Odense,6440 Augustenborg,Nybolig,73711.0,Sønderborg,25.70,27.1
44,620500.0,Stærevej 23,København NV,C,Andelsbolig,NaN,37.0,NaN,1.0,NaN,...,219.896800,139.053599,3.995776,Copenhagen,2400 København NV,Andelshandel A/S,644431.0,Københavns,23.70,34
45,485261.0,Sverigesvej 13,Dianalund,C,Andelsbolig,NaN,84.0,6055.0,2.0,NaN,...,195.764986,70.771447,70.261639,Copenhagen,4293 Dianalund,Peter Due Bolig,30018.0,Sorø,26.30,25.74
46,650000.0,Skovgræsvej 6B,Vodskov,C,Andelsbolig,NaN,95.0,NaN,3.0,NaN,...,13.005684,194.492016,13.005684,Aalborg,9310 Vodskov,Nybolig,221082.0,Aalborg,25.40,26.95
47,1995000.0,Frederiksborgvej 180,København NV,D,Andelsbolig,NaN,126.0,NaN,4.0,NaN,...,218.787476,139.824316,5.460033,Copenhagen,2400 København NV,Min Bolighandel Amager,644431.0,Københavns,23.70,34
48,1322000.0,Kildebakkegårds Alle 86,Søborg,E,Andelsbolig,NaN,68.0,NaN,4.0,NaN,...,216.202336,139.164057,8.171946,Copenhagen,2860 Søborg,EDC,69259.0,Gladsaxe,23.60,23
49,5195000.0,Æblehaven 22,Valby,D,Villa,260000.0,82.0,563.0,5.0,4894.0,...,222.654066,136.137958,5.126456,Copenhagen,2500 Valby,Nybolig,644431.0,Københavns,23.70,34
50,395000.0,Engstien 13A,Gørlev,D,Andelsbolig,NaN,62.0,2577.0,2.0,NaN,...,185.702454,47.702639,47.702639,Odense,"Reersø, 4281 Gørlev",danbolig,48368.0,Kalundborg,24.20,34
51,700500.0,Troldeholmen 1,Helsinge,A,Andelsbolig,NaN,78.0,7972.0,2.0,NaN,...,179.661341,133.207028,46.167913,Copenhagen,3200 Helsinge,BRIKK,41147.0,Gribskov,25.40,29.34
52,334830.0,Bygmarken 26,Glamsbjerg,C,Andelsbolig,NaN,90.0,2873.0,4.0,NaN,...,197.290408,22.625863,22.625863,Odense,5620 Glamsbjerg,Estate,40972.0,Assens,26.10,22.12
53,600000.0,Dronningensgade 25C,Hjørring,B,Andelsbolig,NaN,92.0,NaN,3.0,NaN,...,45.804003,230.927461,45.804003,Aalborg,9800 Hjørring,BYENS MÆGLERE ApS Ejendomsmæglere og valuar,63839.0,Hjørring,26.21,34
54,275000.0,Tårnvej 21A,Thisted,E,Andelsbolig,NaN,77.0,2688.0,2.0,NaN,...,65.215593,205.631267,65.215593,Aalborg,"Østerild, 7700 Thisted",home,43089.0,Thisted,25.50,23.75
55,744995.0,Granvænget 11,Faxe,B,Andelsbolig,NaN,62.0,NaN,2.0,NaN,...,242.099864,110.417330,55.526455,Copenhagen,4640 Faxe,Nybolig,37161.0,Faxe,25.80,25
56,1044614.0,Opnæsgård 9,Hørsholm,C,Andelsbolig,NaN,62.0,NaN,2.0,NaN,...,205.807129,144.098203,23.260102,Copenhagen,2970 Hørsholm,RealMæglerne,24761.0,Hørsholm,23.70,22.1
57,315000.0,Agerlund 9,Hjørring,C,Andelsbolig,NaN,106.0,3600.0,3.0,NaN,...,49.209495,232.675668,49.209495,Aalborg,"Astrup, 9800 Hjørring",home,63839.0,Hjørring,26.21,34
58,598000.0,Bodil Lindorffs Gade 38,Aarhus N,NaN,Andelsbolig,NaN,102.0,NaN,3.0,NaN,...,93.162357,93.065990,7.139216,Aarhus,8200 Aarhus N,home,355238.0,Aarhus,24.52,24.58
59,563000.0,Bodil Lindorffs Gade 12,Aarhus N,NaN,Andelsbolig,NaN,90.0,923.0,3.0,NaN,...,93.204749,93.023616,7.099598,Aarhus,8200 Aarhus N,home,355238.0,Aarhus,24.52,24.58

In [59]:
df.groupby('seller').count().sort_values(by='price')

,price,road,city,energy,building type,udbetaling,area,land area,rooms,ejerudg,...,distance to Aarhus,distance to Aalborg,distance to Odense,distance to city,closest city,city_3,residents,municipal,municipal tax rate,grundskyldspromille
seller,,,,,,,,,,,,,,,,,,,,,
Nem-Ejendomsmægler,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Ejendomsmægler Charlotte Normann ApS,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Njordbolig,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
WEBm2,1,1,1,1,1,0,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
Vestegnen Bolig ApS,1,1,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RealMæglerne,1452,1452,1452,1351,1452,1418,1452,1141,1451,1417,...,1449,1449,1449,1449,1452,1452,1452,1452,1452,1452
danbolig,4256,4256,4256,3953,4256,4178,4256,3393,4250,4178,...,4236,4236,4236,4236,4256,4256,4256,4256,4256,4256
home,4504,4504,4504,4140,4504,4421,4504,3377,4497,4421,...,4466,4466,4466,4466,4504,4504,4504,4504,4504,4504
Nybolig,6063,6063,6063,5738,6063,5969,6063,4796,6063,5969,...,6009,6009,6009,6009,6063,6063,6063,6063,6063,6063
EDC,6124,6124,6124,5777,6124,6037,6124,5337,6124,6037,...,6091,6091,6091,6091,6124,6124,6124,6124,6124,6124