# Exercises for Session 7: Web Scraping 2

In session 6 you learned how to download the HTML of a webpage. In this session you will learn how to locate the information you want in the HTML. It requires an understanding of how HTML is structured and methods to navigate the structure. In the exercises below you will mainly use the package `BeautifulSoup` to navigate the HTML (read more about BeautifulSoup in the [documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)).

# Part 1: Parsing a table from HTML using BeautifulSoup.

In this exercise you will learn how to extract the information you want from a webpage's HTML. `BeautifulSoup` is a useful package in Python that makes it easy to navigate the HTML and find the information you are looking for. 

The purpose of the exercise is to extract the data that are available on this webpage: https://www.basketball-reference.com/leagues/NBA_2018.html

Before working with the exercise, you should watch the 2 videos (7.1 and 7.2) below. The type of data you shall scrape in the exercise is quite different from what you see in the video: In the video we scrape text from articles; in the exercise you will scrape tables and make them into pandas DataFrames. 
Keep in mind that the principles are completely identical: You need to locate the information in the HTML and then convert it to some meaningful data (it could be a text file or a dataframe)

(I might talk a bit slow in some of the videos. Remember that you can turn up the speed on Youtube)

In [71]:
# YOUR CODE HERE
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

url_list = ['https://danbolig.dk/bolig/aarhus/8210/villa/2820000588-282/',
'https://danbolig.dk/bolig/odense/5260/villa/2590001318-259/',
'https://danbolig.dk/bolig/kerteminde/5300/villa/2770000472-277/',
'https://danbolig.dk/bolig/gentofte/2930/villa/0360000314-036/',
'https://danbolig.dk/bolig/rudersdal/3460/lejlighed/0350000728-035/',
'https://danbolig.dk/bolig/fredensborg/3050/villa/0970000912-097/',
'https://danbolig.dk/bolig/esbjerg/6700/villa/2810001073-281/',
'https://danbolig.dk/bolig/aarhus/8250/raekkehus/0370000700-037/',
'https://danbolig.dk/bolig/langeland/5953/villa/2610000349-261/',
'https://danbolig.dk/bolig/rudersdal/3460/villa/0350000708-035/',
'https://danbolig.dk/bolig/roedovre/2610/villa/0590000955-059/',
'https://danbolig.dk/bolig/gentofte/2820/villa/2420000238-242/',
'https://danbolig.dk/bolig/vordingborg/4750/villa/2040000623-204/',
'https://danbolig.dk/bolig/aarhus/8355/villa/0310000392-031/',
'https://danbolig.dk/bolig/rudersdal/3460/villa/0350000686-035/',
'https://danbolig.dk/bolig/gentofte/2820/villa/2420000258-242/',
'https://danbolig.dk/bolig/roskilde/4000/villa/0760000576-076/',
'https://danbolig.dk/bolig/gribskov/3200/villa/1600000365-160/',
'https://danbolig.dk/bolig/kalundborg/4400/villa/2470000587-247/',
'https://danbolig.dk/bolig/aarhus/8250/raekkehus/0370000690-037/',
'https://danbolig.dk/bolig/skive/7860/fritidsbolig/2800000290-280/',
'https://danbolig.dk/bolig/hjoerring/9800/villa/1910000512-191/',
'https://danbolig.dk/bolig/koege/4600/villa/0580000513-058/',
'https://danbolig.dk/bolig/bornholm/3700/villa/0410000575-041/',
            ]

In [72]:
table_large = []
table_left = []
table_address = []
top_info_table = []

for i in range(0, len(url_list)):
    # Send a request to the URL and get the content of the webpage
    response = requests.get(url_list[i], headers = {'name' : 'Martin Skafte Andersen', 'email': 'tgx333@alumni.ku.dk', 'institution': 'University of Copenhagen'})
    soup = BeautifulSoup(response.content, 'lxml')

    # Access the large main table and add it to the list of large_tables
    info_table_large = soup.find_all('table')[0].find('tbody')
    table_large.append(info_table_large)

    # Access the small table to the left and add it to the list of left_tables
    info_table_small_left = soup.find_all('table')[1].find('tbody')
    table_left.append(info_table_small_left)

    # Access the small info table at the top (address) and add it to the list of top_addresses
    upper_info_table = soup.find_all('div', class_ ='o-propertyHero__info o-propertyHero__info--desktop')[0]
    
    # Find the addresses
    addresses = upper_info_table.find('h1')
    table_address.append(addresses)

    # Find house price and other stats
    info_table = upper_info_table.find_all('ul', class_ = 'o-propertyHero__facts')[0]
    top_info_table.append(info_table)

In [73]:

house_data = []

for house in range(len(table_large)):
    
    # Initialize an empty list to store dictionaries for each house
    main_table_dict = {}

    # Extract data from the main table and add it to the house dictionary
    main_table = table_large[house].find_all('td')
    for i in range(0,len(main_table), 2):
        name = main_table[i].text # Extract the name and value from the list
        value = main_table[i + 1].text
        value = re.sub(r'\s*(m²|kr\.)', '', value)
        # Save the name-value pair in the dictionary
        main_table_dict[name] = value
    
    top_table = top_info_table[house].find_all('span')
    for i in range(0,len(top_table), 2):
        name = top_table[i].text # Extract the name and value from the list
        value = top_table[i + 1].text
        value = re.sub(r'\s*(m²|kr\.)', '', value)
     # Exclude 'Energimærke' from being added to the dictionary and save the name-value pair in the dictionary
        if name != 'Energimærke':
            main_table_dict[name] = value.strip()
    
    # Extract data from the top address table and add it to the house dictionary
    name = "address"
    value = ' '.join(table_address[house].text.split())
    # Save the name-value pair in the dictionary
    main_table_dict[name] = value 


    house_data.append(main_table_dict)

df = pd.DataFrame(house_data)
df

,Type,Udbudsform,Energimærke,Varmekilde,Byggeår,Rum,Bad,Toilet,Plan,Boligareal,Kælder,Garage,Grundareal,Kontantpris,Ejerudgift,address,Ombygget,Carport,Udhus,Fritliggende overdækning,Etage,Leje pr. md.,Depositum,Udestue,Ukendt bygning,Vindfang,Overdækket areal,Overdækning,Hønsehus,Legehus
0,Villa,Salg,D,Fjernvarme,1972,4,1,2,3,170,50,32,818,3.998.000,2.976,Januarvej 5 8210 Aarhus V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Villa,Salg,C,Fjernvarme/blokvarme,1974,4,1,1,1,135,NaN,NaN,852,2.795.000,2.593,"Ildfuglevænget 37, Hjallese 5260 Odense S",2005,23,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Villa,Salg,C,Fjernvarme,2006,7,2,2,1,178,NaN,NaN,822,3.850.000,3.259,"Søvangsparken 51, Revninge 5300 Kerteminde",NaN,36,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Villa,Salg,E,Centralvarme med én fyringsenhed,1930,7,2,2,1,234,40,NaN,1.090,19.495.000,10.876,Schimmelmannsvej 9 2930 Klampenborg,2013,NaN,12,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lejlighed,Leje,E,Centralvarme med én fyringsenhed,1923,5,1,1,1,114,NaN,NaN,3.001,NaN,NaN,"Stationsvej 42, 1. 3460 Birkerød",2021,NaN,NaN,NaN,1.,14.000/md.,42.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Villa,Salg,C,Centralvarme med én fyringsenhed,1988,4,2,2,1,133,NaN,NaN,785,4.995.000,3.403,Baunebjergvej 125A 3050 Humlebæk,NaN,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Villa,Salg,C,Fjernvarme,1922,3,2,2,2,127,28,47,496,1.945.000,2.523,"Sophievej 2, Boldesager 6700 Esbjerg",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,12,NaN,NaN,NaN,NaN,NaN
7,Rækkehus,Salg,NaN,Fjernvarme,2023,4,1,2,2,96,NaN,NaN,81,2.995.000,2.394,Skæring Fælled 28 8250 Egå,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Villa / Fritidsbolig,Salg,D,Fjernvarme/blokvarme,1928,4,1,2,3,100,38,NaN,524,NaN,NaN,"Østergade 16, Lohals 5953 Tranekær",NaN,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Villa,Salg,D,Naturgas,1941,3,1,2,2,86,83,NaN,926,5.495.000,5.909,Plantagevej 6 3460 Birkerød,2000,NaN,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Villa,Salg,D,Naturgas,1939,5,1,1,1,94,NaN,NaN,648,4.495.000,4.278,Grønbækvej 28 2610 Rødovre,1978,28,10,NaN,NaN,NaN,NaN,18,NaN,4,11,NaN,NaN,NaN
11,Villa,Salg,C,Naturgas,1982,3,1,1,1,113,NaN,NaN,710,7.995.000,5.393,Brogårdsvej 36 2820 Gentofte,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Villa / Fritidsbolig,Salg,E,"Elvarme, varmepumpe",1966,5,2,2,1,130,NaN,NaN,1.121,1.495.000,2.465,Dueurtvej 13 4750 Lundby,1999,16,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Villa,Salg,C,Fjernvarme,1973,5,1,3,2,148,148,NaN,900,3.295.000,2.845,"Højlundsparken 71, Fastrup 8355 Solbjerg",NaN,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Villa,Salg,D,Naturgas,1967,5,1,2,1,132,49,NaN,914,4.995.000,5.755,Abildgårdsparken 16 3460 Birkerød,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Villa,Salg,G,Varmepumpe,1924,5,1,2,2,126,87,NaN,685,6.995.000,5.611,Søtoften 47 2820 Gentofte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Villa,Salg,C,Centralvarme med én fyringsenhed,1961,5,2,2,1,136,NaN,18,709,3.395.000,3.049,"Nyvej 14, Gundsømagle 4000 Roskilde",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Villa,Salg,E,Træpillefyr,1800,13,3,3,1,343,38,NaN,6.356,4.995.000,7.459,"Arresøgårds Alle 7, Ramløse 3200 Helsinge",NaN,21,359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Villa,Salg,C,Varmepumpe,1972,5,1,2,2,159,59,28,3.297,2.295.000,2.083,Tingvejen 9 4400 Kalundborg,2004,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Rækkehus,Salg,NaN,Fjernvarme,2023,5,1,2,2,110,NaN,NaN,94,3.495.000,2.567,Skæring Fælled 38 8250 Egå,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Fritidsbolig,Salg,NaN,Elvarme varmepumpe luft til luft,1976,3,1,1,1,69,NaN,NaN,2.622,895.000,1.000,"Ålbækparken 86, Ålbæk 7860 Spøttrup",2020,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Villa,Salg,C,Fjernvarme/blokvarme,1965,6,2,2,1,191,NaN,NaN,826,3.150.000,1.848,Vanggårdsvej 15 9800 Hjørring,NaN,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Villa,Salg,D,Varmepumpe,1927,3,1,1,2,81,NaN,NaN,535,2.495.000,2.396,Vordingborgvej 60 4600 Køge,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Villa,Salg,D,Elvarme/Brændeovn,1910,5,1,1,3,196,10,90,6.884,1.895.000,1.671,"Eskesvej 5, Nyker 3700 Rønne",1998,NaN,17,NaN,NaN,NaN,NaN,27,NaN,NaN,NaN,42,3,3